nav{
    background-color: rgb(47, 106, 184);
}
img{
    width: 70px;
}
h2{
    display: inline-block;
    margin: 10px 0 0 10px;
    color:white
}
li{
    display: inline-block;
    margin: 10px;
}
a{
    text-decoration: none;
    background-color:rgb(47, 106, 184);
    color: white;
    font-size: 2em;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    transition: all 1s;
}
a:hover{
    color:rgb(47, 106, 184);
    background-color: white;
    border: 2px solid white;
}